*,
*::after,
*::before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; 
  margin: 0;
  padding: 0;
}

.App {
  min-height: 100vh;
  max-height: 100vh;
}

.chat-app-wrapper-section {
  max-height: 70vh;
  min-width: 320px;
  max-width: 450px;
  border: 1px solid lightgray;
  border-radius: 3px;
}

.chat-wrapper-div,
.chat-form-div,
.display-messages-div {
  flex: 1;
}

.display-messages-div {
  min-height: 50vh;
  max-height: 50vh;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1) inset;
}

.chat-message-input {
  outline: none;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.chat-message-input::placeholder {
  color: #aaa;
}