@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; 
  margin: 0;
  padding: 0;
}

.App {
  min-height: 100vh;
  max-height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.chat-app-wrapper-section {
  max-height: 100vh;
  min-height: 100vh;
  min-width: 320px;
  max-width: 500px;
  border-radius: 3px;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1) inset;
}

header,
.message-form {
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
}

header {
  z-index: 4;
}

.chat-heading {
  font-size: 20px;
  text-shadow: -1px -1px 0px #333,
    2px 2px 0px #333,
    3px 3px 0px black;
  letter-spacing: 5px;
}

.nav-icon-div {
  font-size: 20px;
  cursor: pointer;
  color: #fff
}

.nav-icon-div > span:hover {
  color: #444;
}

.notification-number-div,
.notification-number-rooms-div {
  font-size: 10px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0.5);
}

.notification-number-div {
  animation: pulse 2000ms cubic-bezier(0,1,1,0) infinite;
}

.notification-number-rooms-div {
  animation: roomsPulse 1500ms cubic-bezier(0,1,1,0) infinite;
}

@keyframes pulse  {
  50% {
    transform: translate(-50%, -50%) scale(1.5);
  }
  100% {
    transform: translate(-50%, -50%) scale(0.5);
  }
}

@keyframes roomsPulse {
  50% {
    transform: translate(-50%, -50%) scale(1.5);
  }
  100% {
    transform: translate(-50%, -50%) scale(0.5);
  }
}

.live-div {
  height: 10px;
  width: 10px;
  background-color: #00b83D;
  border-radius: 50%;
}

.display-messages-div {
  height: 100%;
  min-height: 100vh;
  max-height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 100px 0 50px 0;
}

.message-details-p {
  border-radius: 10px;
  font-size: 15px;
  position: relative;
}

.message-details-p.received {
  background-color: #00b83D;
}

.message-details-p.sent {
  background-color: #1F46B1;  
}

.message-details-p::after {
  content: "";
  position: absolute;
  top: 0;
  z-index: -1;
  border-radius: 3px;
}

.message-details-p.received::after {
  left: -10px;
  border-top: #00b83D;
  border-left: transparent;
  border-right: #00b83D;
  border-bottom: transparent;
  border-width: 10px;
  border-style: solid;
}

.message-details-p.sent::after {
  right: -10px;
  border-top: #1F46B1;
  border-left: #1F46B1;
  border-right: transparent;
  border-bottom: transparent;
  border-width: 10px;
  border-style: solid;
}

.message-meta-div {
  font-size: 11px;
}

.username-span {
  font-weight: bold;
}

.chat-message-input {
  outline: none;
  border: 1px solid lightgray;
  border-radius: 2em;
  color: #555;
  font-size: 15px;
}

.chat-message-input::placeholder {
  color: #aaa;
}

.message-form {
  background-color: #fff;
}